<table class="table">
  <thead>
    <tr>
      <th>
        Subject
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(mails$ | async) as mails">
      <tr *ngFor="let mail of mails">
        <td>
          <a href="javascript:{}" [innerHTML]="mail.subject" [routerLink]="'read/'+mail.id"></a>
          <span *ngIf="mail.messages_count && mail.messages_count > 1">
            ( {{ (mail.messages_count - 1) }} )
          </span>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="!(mails$ | async)?.length">
      <td colspan="3" class="alert alert-warning">
        No mail found!
      </td>
    </tr>
  </tbody>
</table>
