.demo-url {
    float: right;
    font-size: 18px;
    color: #007bff;
}
::ng-deep {
.fa-icon-you {
    color: red;
    font-size: 34px;
    margin-left: 15px;
    position: relative;
    top: 7px;
}
}
.clearFix {
    clear: both;
    display: flex;
}