<form [formGroup]="addStudenttFrm" (ngSubmit)="addStudent()">
  <div class="row">
  <div class="form-group col-md-5 col-lg-5">
    <label for="phone">Mobile / Email</label>
    <ng-select [items]="students$ | async"
           bindLabel="email"
           placeholder="Mobile / Email"
           [addTag]="false"
           [multiple]="true"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="peopleLoading"
           typeToSearchText="Please enter 2 or more characters"
           [typeahead]="studentInput$"
           [ngClass]="{'is-invalid': ( f.phone.errors && f.phone.errors.error)}"
           formControlName="phone" >
</ng-select>

    <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
      {{f.phone.errors.error}}
    </div>
  </div>

  <div class="form-group col-md-4 col-lg-4">
    <label for="course">Course</label>
    <ng-select [items]="(courses$ | async)?.data"
        bindLabel="name"
        id="id"
        [ngClass]="{'is-invalid': ( f.course.errors && f.course.errors.error)}"
        placeholder="Select Course"
        formControlName="course">
        </ng-select>
        <div *ngIf="f.course.errors && f.course.errors.error" class="invalid-feedback">
          {{f.course.errors.error}}
        </div>
  </div>
  <div class="form-group col-md-3 col-lg-3">
    <button type="submit" class="btn btn-primary mt-22">Add Student</button>
    <button type="button" class="btn btn-outline-secondary ml-2 mt-22" (click)="resetSearch()">Clear</button>
  </div>
</div>
</form>
