<form class="form-signin" [formGroup]="signInFrm"  (ngSubmit)="signIn()">
<app-modal>
  <div></div>
  <div  body class="border-0">
<div class="row">
  <div class="col-6">
    <a href="javascript:{}" (click)="signInWithFB()" class="btn btn-primary d-block mb-3">
      Login with Facebook <fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="javascript:{}" (click)="signInWithGoogle()" class="btn btn-primary d-block">Login with Google <fa-icon [icon]="faGoogle"></fa-icon></a>
    
    <!-- <a  (click)="signInWithPhone()">sent otp</a> -->
    <!-- <a  (click)="refreshToken()" href="javascript:{}">refresh token</a> --></div>
  <div class="col-6 border-left">
<h5>MEMBER LOGIN</h5>

  <div id="recaptcha-container"></div>
  <div class="text-danger" *ngIf="invalidlogin">Invalid login credentials</div>
  <div class="form-group">
      <label for="mobile" class="col-form-label d-none">Email / Mobile</label>
      <div class="">

          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': f.mobile.invalid && ((f.mobile.dirty || f.mobile.touched))}" id="mobile"
          ngbAutofocus autocomplete="mobile"
          required  placeholder="Email / Mobile"
          formControlName="mobile"
          />
          <ng-container *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)">
            <div *ngIf="f.mobile.errors.required" class="invalid-feedback">
              Name is required.
            </div>
          </ng-container>


      </div>
  </div>

  <div class="form-group ">
    <label for="password" class="col-form-label d-none">Password</label>
    <div>
        <input type="password" class="form-control" id="password"
        [ngClass]="{'is-invalid': f.password.invalid && ((f.password.dirty || f.password.touched))}" id="mobile"
        autocomplete="password"
        required  placeholder="password"
        formControlName="password"
        />
        <ng-container *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
          <div *ngIf="f.password.errors.required" class="invalid-feedback">
            Password is required.
          </div>
        </ng-container>

    </div>
</div>

<div>
  <button type="button" class="btn btn-outline-secondary mr-3 d-none" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="submit" class="btn btn-primary btn-block mt-4"  [disabled]="signInFrm.invalid">
      LOGIN
  </button>

  <a href="#" class="d-block text-center mt-4">Forgot Password?</a>

</div>

</div>
</div>





  </div>

</app-modal>
</form>
