<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" routerLink="/" (click)="showMenu = null">Maya Portal</a>
  <button class="navbar-toggler" type="button"
  (click)="showMenu = !showMenu"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse animate__animated" [ngClass]="{'collapse' : !showMenu, 'animate__zoomIn': showMenu}" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" (click)="showMenu = null">Home <span class="sr-only">(current)</span></a>
      </li>


      <ng-container *ngIf="(loggedUser$ | async) as loggedUser">
        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showMenu = null">My Home</a>
        </li>

        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/teachers'" class="nav-link" routerLinkActive="active" (click)="showMenu = null">Teachers</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/students'" class="nav-link" routerLinkActive="active" (click)="showMenu = null">Students</a>
        </li>


        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/courses'" class="nav-link" routerLinkActive="active" (click)="showMenu = null">Courses</a>
        </li>

        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/mail/inbox'" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showMenu = null">Message</a>
        </li>

        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/coupons'" class="nav-link" routerLinkActive="active" (click)="showMenu = null">Coupons</a>
        </li>


        <li class="nav-item">
          <a [routerLink]="loggedUser?.role_url+'/settings'" class="nav-link" routerLinkActive="active" (click)="showMenu = null">Settings</a>
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <a href="javascript:{}" class="pt-2 ml-3 d-inline-block" id="dropdownBasic1" ngbDropdownToggle>{{loggedUser.fname}} <fa-icon class="mr-2" [icon]="faUser"></fa-icon></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a href="javascript:{}" ngbDropdownItem  (click)="signOut()" (click)="showMenu = null">Sign Out</a>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

