@import '../../variables';
.home-banner {
    background-color: #ddd;
    min-height: 250px;
    text-align: center;
}
.search-container {
    text-align:center;
    background-color:$primaryColor;
    color:#fff;
    .input-group-text {
        padding: 0.165rem 0.3rem;
    }
}
.register-sec {
    text-align: center;
    .card-body {
        h1 {
            font-size:$fontsize-2;
            color:$primaryColor;
        }
    }
    .card-footer {
        h2 {
            font-size: $fontsize-1;
            text-transform: uppercase;
            color:$black;
        }
        background-color: #fff;
        border-top: none;
    }
} 
