.home-banner {
    background-color: #ddd;
    min-height: 250px;
    text-align: center;
}
.search-container {
    text-align:center;
    background-color: #578AF7;
    color:#fff;
    .input-group-text {
        padding: 0.165rem 0.3rem;
    }
}
.register-sec {
    text-align: center;
    .d-grid {
        display: grid;
        .span2 {
            grid-column: 1 / span 2;
        }
        &.grd-col-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
       &.grd-col-2{
        grid-template-columns: 1fr 1fr;
       }
    }
   

}
