@import '../../variables';
.home-banner {
    background-color: #ddd;
    min-height: 250px;
    text-align: center;
}
.bg-gray {
    background: #eee; 
}
.search-container {
    text-align:center;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); color:#fff;
    padding:2% 0;
    .input-group-text {
        padding: 0.165rem 0.3rem;
    }
}
.register-sec {
    text-align: center;
    .min-176 {
        min-height:182px;
    }
    .card-body {
        h1 {
            font-size: 26px;
            color: #578AF7;
            color:$primaryColor;
        }
        .mb-2px {
            margin-bottom: 2px;
        }
        .font-20 {
            font-size: 20px;
        }
        .mt-33px {
            margin-top:33px;
        }
        
    }
    .card-footer {
        h2 {
            font-size: $fontsize-1;
            text-transform: uppercase;
            color:$black;
        }
        background-color: #fff;
        border-top: none;
    }
} 
