<section class="home-banner">
    <h1>Banner</h1>
</section>
<section class="search-container">
    <div class="container pt-3 pb-3">
<h5 class="">Find Personalised & 1-to-1 Classes with Online or nearby Tutors</h5>


<div class="input-group mb-2 mr-sm-2">
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search">
    <div class="input-group-append">
      <div class="input-group-text">
          <button class="btn btn-sm">
            <fa-icon class="mr-2" [icon]="faSearch"></fa-icon>
          </button>
      </div>
    </div>
    
  </div>

<h6 class="mt-2">6.5 Lakh+ Verified Tutors & Institutes</h6>
    </div>
</section>
<section class="register-sec">
<div class="container">
<h1>Who Can Register</h1>

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card">
<i><fa-icon [icon]="faUserGraduate"></fa-icon></i>
<div class="card-body">
    <h3>Students</h3>
<button class="btn btn-primary">Register</button>
</div>
<div class="card-footer">
    <div class="d-grid grd-col-2">
    
        <p>Already registered Please login here </p>
        <h4><a href="#">LOGIN</a></h4>
    
    </div>
</div>

        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card">
<i><fa-icon [icon]="faUser"></fa-icon></i>
<div class="card-body">
    <h3>Teacher</h3>
<button class="btn btn-primary">Register</button>
</div>
<div class="card-footer">
    <div class="d-grid grd-col-3">
        <h4><a href="#">SEE OUR PLANS</a></h4>
        <p>Already registered Please login here </p>
        <h4><a href="#">LOGIN</a></h4>
    
    </div>    
</div>

        </div>
    </div>
</div>

<h1>1000 + CATEGORIES</h1>
<div class="row">

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-3">
        <div class="card">
            <div class="card-body">
<h1>25000</h1>
<p>Verified Tutors
    & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>Tuition</h2>
            </div>

        </div>

    </div>



</div>
<h1>TOP RATING TEACHERS</h1>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <div class="card list-box">
            <div class="card-body">
            <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
    <img src="">image
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
           
         <h5 class="text-left">Joan W. Smith</h5>
         <div class="d-grid grd-col-2 text-left">
             <div >Tutor</div>
             <div>Sub: Dance</div>
             <div><fa-icon class="mr-2" [icon]="faUser"></fa-icon>233</div>
             <div><fa-icon class="mr-2" [icon]="faClock"></fa-icon>Fill Time</div>
             <div class="span2">Location: Perumbavoor</div>
         </div>

        </div>
    
    </div></div>
    <div class="card-footer">
        <div class="d-grid grd-col-2">
            <div class="text-left pt-1">
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStarHalfAlt"></fa-icon>
            </div>
            <div>
                <button class="btn btn-primary float-right">
                    Contact

                </button>
            </div>

        </div>
    </div>
    </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
        <div class="card list-box">
            <div class="card-body">
            <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
    <img src="">Image
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
           
         <h5 class="text-left">Joan W. Smith</h5>
         <div class="d-grid grd-col-2 text-left">
             <div >Tutor</div>
             <div>Sub: Dance</div>
             <div><fa-icon class="mr-2" [icon]="faUser"></fa-icon>233</div>
             <div><fa-icon class="mr-2" [icon]="faClock"></fa-icon>Fill Time</div>
             <div class="span2">Location: Perumbavoor</div>
         </div>

        </div>
    
    </div></div>
    <div class="card-footer">
        <div class="d-grid grd-col-2">
            <div class="text-left pt-1">
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
                <fa-icon class="mr-2" [icon]="faStarHalfAlt"></fa-icon>
            </div>
            <div>
                <button class="btn btn-primary float-right">
                    Contact

                </button>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>

<button class="btn btn-primary btn-sm mt-3">LOAD MORE</button>
</div>
</section>
<div>

</div>