<h3 class="mb-3">
  Home page Banner
  <div class="float-right">
    <a [routerLink]="['/admin/settings']" routerLinkActive="active"  class="btn btn-primary mr-2">Settings</a>
    <a [routerLink]="['/admin/home-page-banner']" routerLinkActive="active"  class="btn btn-primary mr-2">Home Page Banner</a>
    <a [routerLink]="['/admin/home-page-videos']" routerLinkActive="active" class="btn btn-primary">Home page Videos</a>
  </div>
</h3>
<form [formGroup]="bannerFrm" *ngIf="banners$ | async">
  <div formArrayName="banner">
    <div class="row" *ngFor="let item of banner.controls; let i=index; let last = last" [formGroupName]="i">
      <div class="col">
        <img [src]="item.controls.file_src.value" />
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile"
          (change)="handleFileInput(item, $event.target.files)">
          <label class="custom-file-label" for="customFile">Banner {{ i+ 1}}</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="sort_order">Sort Order</label>
          <input type="number" class="form-control" id="sort_order" placeholder="Sort Order" formControlName="sort_order">
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="save(item)">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteBanner(item)" *ngIf="item.controls.id.value">Delete</button>
      </div>



    </div>
  </div>

  <a href="javascript:{}" class="btn btn-primary" (click)="addNew()">Add New</a>
</form>
