<h3 class="mb-3">
  Home page Videos
  <div class="float-right">
    <a [routerLink]="['/admin/settings']" routerLinkActive="active"  class="btn btn-primary mr-2">Settings</a>
    <a [routerLink]="['/admin/home-page-banner']" routerLinkActive="active"  class="btn btn-primary mr-2">Home Page Banner</a>
    <a [routerLink]="['/admin/home-page-videos']" routerLinkActive="active" class="btn btn-primary">Home page Videos</a>
  </div>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>
        Video Url
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="videos$.asObservable() | async as videos">
      <tr *ngFor="let video of videos;">
        <td>
          {{video.file_path}}
        </td>
        <td>
          <a href="javascript:{}" (click)="editVideo(video)">Edit</a>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>
