/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-sharebuttons/themes/default/default-theme';
@import 'variables';

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}

.d-grid {
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    .span2 {
        grid-column: 1 / span 2;
    }
    &.grd-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
   &.grd-col-2{
    grid-template-columns: 1fr 1fr;
   }
  }

  body {
      font-family: $fontFmily;
      color:$text-color;
      font-size: 0.7rem;
      background-color: #fbfbfb;
  }
  h1 {font-size:$fontsize-2;}
  .well-bg-header{
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); color:#fff;
    color:#fff;
    padding: 37px;
    margin-bottom: 55px;
  }
  .container-fluid {
    padding-right: 30px!important;
    padding-left: 30px!important;
  }
  .clearfix {
    clear: both;
  }
  .sb-wrapper {
    min-width: 25px;
    height: 25px;
  }
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.10rem 0;
    margin-bottom: 0.5rem;
    list-style: none;
    background-color:transparent;
    border-radius:0;
}