@import '../../../../variables.scss';
.flex-1 {
    width: 100%;
}
.no-radius {
    border-radius: 0px;
}
.account-details {
    padding: 14px;
    margin: 0;
}
.user-avathar {
    width: 100%;
    display: block;
    min-height:246px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin: 0px;
}

::ng-deep {
    .nav-pills {
        border-bottom: 4px solid rgba(0, 0, 0, 0.125);
        .nav-link {
        color: $text-color;
        font-size: 15px;
        &.active{
            &::after{
                content: '';
                width: 100%;
                height: 7px;
                background-color:$primaryColor;
                display: block;
                position: absolute;
                bottom: -7px;
                left: 0;
            }
            position: relative;
            background-color:transparent;
            color:$primaryColor;
        }
    }
    }
}

@media only screen and (max-width:768px) {
   
    .profile-bg {
        background: #cecece26;
        border-bottom: 4px solid #017bff;
        max-width: 1250px;
        margin:0px auto 50px auto;
        border-top: 4px solid #017bff;
    
    }
    .mt-sm-05 {
        margin-top: 30px;
    }

  }

  @media only screen and (min-width:768px) {
    .profile-bg {
        background: #cecece26;
        border-bottom: 4px solid #017bff;
        max-width: 1250px;
        margin:34px auto 50px auto;
        border-top: 4px solid #017bff;
    
    }
  }