<div class="card" *ngIf="(user$ | async) as user">

<app-change-banner *ngIf="isDashBoard"></app-change-banner>
<div class="alert alert-danger" *ngIf="isDashBoard">
  <h3>Your Free Trial Remaining {{ (user.current_user_plan) ?  user.current_user_plan.remaining_days : '0'}} Days</h3>
  <p>Make a Payment soon, Avoid account blocking</p>
  <a routerLink="plans" class="btn btn-primary">View Plans</a>
</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <img [src]="user.avatar" alt="avatar" class="img-thumbnail">
        <app-rating [rating]="user.rating" [readonly]="true"></app-rating>
        <a href="javascript:{}" class="btn btn-primary">Share</a>

        {{ user.fname }} {{ user.lname }} <br/>
        Time: {{user.teacher_info?.time}}
       <div>
        Location
        {{ user.country?.name }}
        {{ user.state?.name }}
        {{ user.city?.name }} - {{ user.pin }}
       </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <address>
              Address<br/>
              {{ user.address }}
              {{ user.country?.name }}
              {{ user.state?.name }}
              {{ user.city?.name }} - {{ user.pin }}
            </address>

            <div *ngIf="isDashBoard">Mobile: {{ user.phone }}</div>
          </div>
          <div class="col-md-6">
            <div>Active From: {{ user.created_at | date:'medium' }}</div>
            <div *ngIf="user.last_login?.created_at_human">Last Login: {{ user.last_login?.created_at_human }}</div>
            <ng-container *ngIf="!isDashBoard">
              <span *ngIf="user.email" placement="top" [ngbTooltip]="(user.email == '*') ? 'Only logged user can contact teacher' : ''">
                <button   class="btn btn-primary teacher-message-btn" [disabled]="user.email == '*'" (click)="contactTeacher(user)">
                  Message
                  <fa-icon [icon]="faLock" *ngIf="user.email == '*'"></fa-icon>
                </button>
              </span>
              <span *ngIf="user.phone" placement="top" [ngbTooltip]="(user.email == '*') ? 'Only logged user can contact teacher' : ''">
                <button  class="btn btn-primary" [disabled]="user.phone == '*'" *ngIf="user.phone == '*'">
                  Mobile
                  <fa-icon [icon]="faLock" *ngIf="user.phone == '*'"></fa-icon>
                </button>
                <ng-container *ngIf="user.phone !== '*'">
                  <a class="d-none d-sm-block btn btn-primary" target="_blank" [href]="'https://web.whatsapp.com/send?phone='+user.phone">Whats app</a>
                  <a class="d-block d-sm-none btn btn-primary" target="_blank" [href]="'https://api.whatsapp.com/send?phone='+user.phone">Whats app</a>
                </ng-container>
              </span>
            </ng-container>
            <div *ngIf="isDashBoard">Email: <a [href]="'mailto:'+user.email">{{ user.email }}</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5>Subject / Syllabus</h5>
        <span *ngFor="let subject of user.subject; let last = last">{{ subject.name }} <i *ngIf="!last">, </i> </span>
      </div>
      <div class="col-md-4">
        <h5>Experiance</h5>
        <p [innerHTML]="user.teacher_info?.experiance"></p>
      </div>
      <div class="col-md-4">
        <h5>Education</h5>
        <p [innerHTML]="user.teacher_info?.education.name"></p>
      </div>
    </div>
    <a href="javascript:{}" routerLink="edit-profile" class="btn btn-outline-primary" *ngIf="isDashBoard"><fa-icon [icon]="faEdit" ></fa-icon> Edit</a>


    <ng-container *ngIf="(courses$ | async) as courses">
      <ngb-tabset type="pills" *ngIf="courses && courses.length">
        <ngb-tab>
          <ng-template ngbTabTitle>All Courses</ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let course of courses">
              <app-course-block [course]="course"></app-course-block>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>New Courses</ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let course of courses | slice:0:2">
              <app-course-block [course]="course"></app-course-block>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-container>


  </div>
</div>
