
<div class="" *ngIf="(user$ | async) as user">
<app-bread-crumbs [hide]="true"></app-bread-crumbs>

<app-change-banner [isDashBoard]="isDashBoard"></app-change-banner>
<div class="alert alert-danger no-radius" *ngIf="isDashBoard && (!user.current_user_plan || user.current_user_plan?.remaining_days < 10)">
  <div class="container">
    <div class="d-flex">
      <div class="flex-1">
        <h2>Your Free trail Remaining 20 days</h2>
        <h3>Your {{user.current_user_plan.plan.name}} Remaining {{ (user.current_user_plan) ?  user.current_user_plan.remaining_days : '0'}} Days</h3>
        <p>Make a Payment soon, Avoid account blocking</p>
      </div>
      <div class="align-self-center"><a routerLink="plans" class="btn btn-primary text-nowrap">View Plans</a></div>
    </div>
  </div>
</div>
<div class="container">
<div class="row pt-5">
  <div class="col-md-6 col-lg-6">
<div class="row">
  <div class="col-md-4 col-lg-4">
    <figure>
      <img [src]="user.avatar" alt="avatar" width="230" class="img-thumbnail">
    </figure>
  </div>
  <div class="col-md-8 col-lg-8">
<h4 class="text-capitalize">  {{ user.fname }} {{ user.lname }} </h4>
<app-rating [rating]="user.rating" [readonly]="true"></app-rating>

<p> <fa-icon [icon]="faClock" ></fa-icon> {{user.teacher_info?.time}}</p>
<h5 class="mb-1">Location</h5>
<p>{{ user.country?.name }}
{{ user.state?.name }}
{{ user.city?.name }} - {{ user.pin }}</p>
<app-custom-url [shareOnly]="true"></app-custom-url>
 </div>
</div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="row">
      <div class="col-md-6">
        <address>
          <h5 class="mb-1">Address</h5>
          {{ user.address }}
          {{ user.country?.name }}
          {{ user.state?.name }}
          {{ user.city?.name }} - {{ user.pin }}
        </address>

        <h6 *ngIf="isDashBoard">Mobile: {{ user.phone }}</h6>
      </div>
      <div class="col-md-6">
        <div class="mb-2">Active From: {{ user.created_at | date:'medium' }}</div>
        <div *ngIf="user.last_login?.created_at_human">Last Login: {{ user.last_login?.created_at_human }}</div>
        <ng-container *ngIf="!isDashBoard">

            <app-login-link *ngIf="!user.email">
              <button class="btn btn-primary"
              placement="top"
              ngbTooltip="Only logged user can contact teacher">
                Message
                <fa-icon [icon]="faLock" *ngIf="!user.email"></fa-icon>
              </button>
            </app-login-link>

            <button   class="btn btn-primary teacher-message-btn mr-3 mb-2"
            (click)="contactTeacher(user)" *ngIf="user.email">
              Message
            </button>

            <app-login-link *ngIf="!user.phone">
              <button class="btn btn-primary ml-2"
              placement="top"
              ngbTooltip="Only logged user can contact teacher">
              <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app
                <fa-icon [icon]="faLock" *ngIf="!user.email"></fa-icon>
              </button>
            </app-login-link>




          <ng-container *ngIf="user.phone">
            <a class="d-none d-sm-block btn btn-primary" target="_blank" [href]="'https://web.whatsapp.com/send?phone='+user.phone"> <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app</a>
            <a class="d-block d-sm-none btn btn-primary" target="_blank" [href]="'https://api.whatsapp.com/send?phone='+user.phone"> <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app</a>
          </ng-container>
        </ng-container>
        <h6 class="mt-3" *ngIf="isDashBoard">Email: <a [href]="'mailto:'+user.email">{{ user.email }}</a></h6>
      </div>


    </div>
    <a href="javascript:{}" routerLink="edit-profile" class="btn btn-outline-primary float-right mt-5" *ngIf="isDashBoard"><fa-icon [icon]="faEdit" ></fa-icon> Edit</a>
</div>
</div>
<hr/>



    <div class="row mb-3">
      <div class="col-md-4">
        <h5>Subject / Syllabus</h5>
        <span *ngFor="let subject of user.subject; let last = last">{{ subject.name }} <i *ngIf="!last">, </i> </span>
      </div>
      <div class="col-md-4">
        <h5>Experiance</h5>
        <p [innerHTML]="user.teacher_info?.experiance"></p>
      </div>
      <div class="col-md-4">
        <h5>Education</h5>
        <p [innerHTML]="user.teacher_info?.education?.name"></p>
      </div>
    </div>


    <hr/>
    <ng-container *ngIf="(courses$ | async) as courses">
      <ngb-tabset type="pills" *ngIf="courses && courses?.data.length">
        <ngb-tab>
          <ng-template ngbTabTitle>All Courses</ng-template>
          <ng-template ngbTabContent >
            <div *ngFor="let course of courses?.data">
              <app-course-block [course]="course" class="row pt-4"></app-course-block>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>New Courses</ng-template>
          <ng-template ngbTabContent>
            <div *ngFor="let course of courses?.data | slice:0:2">
              <app-course-block [course]="course" class="row pt-4"></app-course-block>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-container>
  </div>
  </div>

