<app-bread-crumbs [hide]="true"></app-bread-crumbs>
<section class="well-bg-header">
    <div class="container">
      <h3>How it works</h3>
    </div>
  </section>
  <section class="container">
    <app-google-language-selection></app-google-language-selection>
    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" [closeOthers]="true" >

      <ng-container *ngIf="data$ | async as data">
        <ng-container *ngFor="let item of data; let idx = index;">
          <ngb-panel [title]="(idx+1)+'. ' + item.q">
            <ng-template ngbPanelContent>
             <b class="text-dark">Ans:</b>  <span [innerHTML]="item.ans"></span>
            </ng-template>
          </ngb-panel>
        </ng-container>
      </ng-container>




    </ngb-accordion>


  </section>

