<section class="container">
  <form [formGroup]="editProfileFrm" *ngIf="(loggedUser$ | async) as loggedUser" (ngSubmit)="updateProfile()">
    <div class="bg-white p-4 shadow-sm mb-4">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <figure>
          <img [src]="loggedUser.avatar" class="avatar-img img-thumbnail" />
        </figure>
        
        <button type="button" (click)="fileInput.click()" class="btn btn-primary avatar-up-btn mb-3">
          <span>Change Photo</span>
          <input #fileInput type="file" (change)="onFileInput($event.target.files)" accept="image/*" style="display:none;" />
        </button>
        <p class="mb-1">Created At: {{ loggedUser.created_at |  date:'dd/MM/yy'}}</p>
        <p>Last Login: {{ loggedUser.last_login.created_at  |  date:'dd/MM/yy'}}</p>
      </div>
      <div class="col-md-9 col-lg-9">
        <div class="row">

        <div class="form-group col-md-6 col-lg-6">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname"
          [ngClass]="{'is-invalid': (f.fname.errors && f.fname.errors.error) }"
           placeholder="First Name" formControlName="fname" >
            <div *ngIf="f.fname.errors && f.fname.errors.error" class="invalid-feedback">
              {{f.fname.errors.error}}
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" id="lname"
          [ngClass]="{'is-invalid': (f.lname.errors && f.lname.errors.error)}"
          placeholder="First Name" formControlName="lname">
          <div *ngIf="f.lname.errors && f.lname.errors.error" class="invalid-feedback">
            {{f.lname.errors.error}}
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <label for="phone">Whatsapp / Phone Number</label>
          +{{loggedUser.country.phonecode}}
          <input type="text" class="form-control" id="phone"
          [ngClass]="{'is-invalid': (f.phone.errors && f.phone.errors.error)}"
          placeholder="Whatsapp / Phone Number"
          formControlName="phone">
          <div *ngIf="f.phone.errors && f.phone.errors.error" class="invalid-feedback">
            {{f.phone.errors.error}}
          </div>
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <label for="email">Email Id</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          [ngClass]="{'is-invalid': (f.email.errors && f.email.errors.error)}"
          placeholder="Email Id"
          formControlName="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address"
          [ngClass]="{'is-invalid': (f.address.errors && f.address.errors.error)}"
          placeholder="Address" formControlName="address">
          <div *ngIf="f.address.errors && f.address.errors.error" class="invalid-feedback">
            {{f.address.errors.error}}
          </div>
        </div>
         
    <div class="form-group col-md-6 col-lg-6">
      <label for="pin">Pin</label>
      <input type="text" class="form-control" id="pin"
      [ngClass]="{'is-invalid': (f.pin.errors && f.pin.errors.error)}"
      placeholder="Pin" formControlName="pin">
      <div *ngIf="f.pin.errors && f.pin.errors.error" class="invalid-feedback">
        {{f.pin.errors.error}}
      </div>
    </div>
    <div class="form-group col-md-6 col-lg-6">
      <label for="country_id">Country</label>
      <ng-select [items]="(countries$ | async)"
          bindLabel="name"
          id="country_id"
          [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
          placeholder="select Country"
          formControlName="country_id">
          </ng-select>
          <div *ngIf="f.country_id.errors && f.country_id.errors.error" class="invalid-feedback">
            {{f.country_id.errors.error}}
          </div>
    </div>
    <div class="form-group col-md-6 col-lg-6">
      <label for="state_id">State</label>
      <ng-select [items]="(states$ | async)"
          bindLabel="name"
          [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
          id="state_id"
          placeholder="select State"
          formControlName="state_id">
          </ng-select>
        <div *ngIf="f.state_id.errors && f.state_id.errors.error" class="invalid-feedback">
          {{f.state_id.errors.error}}
        </div>
    </div>
    <div class="form-group col-md-6 col-lg-6">
      <label for="city_id">City</label>
      <ng-select [items]="(cities$ | async)"
        [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
          bindLabel="name"
          id="city_id"
          placeholder="select City"
          formControlName="city_id">
          </ng-select>
          <div *ngIf="f.city_id.errors && f.city_id.errors.error" class="invalid-feedback">
            {{f.city_id.errors.error}}
          </div>
    </div>
  </div>
      </div>
  
    </div>
  </div>
 
  <div class="bg-white p-4 shadow-sm mb-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="changePass" formControlName="isChanegPassword">
      <label class="custom-control-label" for="changePass">Change Password</label>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-lg-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password"
        [ngClass]="{'is-invalid': ( f.password.errors && f.password.errors.error)}"
        formControlName="password" >
        <div *ngIf="f.password.errors && f.password.errors.error" class="invalid-feedback">
          {{f.password.errors.error}}
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-6">
        <label for="password_confirmation">Confirm Password</label>
        <input type="password" class="form-control" id="password_confirmation"
        [ngClass]="{'is-invalid': ( f.password_confirmation.errors && f.password_confirmation.errors.error)}"
        placeholder="Confirm Password"
         formControlName="password_confirmation" >
         <div *ngIf="f.password_confirmation.errors && f.password_confirmation.errors.error" class="invalid-feedback">
          {{f.password_confirmation.errors.error}}
        </div>
      </div>
    </div>
  </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>