<div class="card">
  <div class="card-header p-0" [style.background-image]="'url('+studentCourse.course.image+')'"> 
</div>
  <div class="card-body">
    <h5 class="card-title">{{studentCourse.course.name}}</h5>
    <p>{{ studentCourse.course.user.fname }} {{ studentCourse.course.user.lname }}</p>
    <app-rating [rating]="studentCourse.course.user.rating" [readonly]="true"></app-rating>
    <p class="card-text">{{studentCourse.course.description}}</p>
    <span placement="top" [ngbTooltip]="(studentCourse.course.latest_course_approval_request.status != 1) ? 'Course is under approvel' :''">
      <button href="javascript:{}" class="btn "
      [disabled]="studentCourse.course.latest_course_approval_request.status != 1"
       [routerLink]="'course/'+studentCourse.course.id"
       [ngClass]="{'btn-warning': studentCourse.course.is_course_completed, 'btn-primary': !studentCourse.course.is_course_completed}">Continue</button>
    </span>
  </div>
</div>
