<form [formGroup]="searchFrn">
  <app-modal [noHeader]="true" [noFooter]="true">
    <div class="text-center p-4" body>

      <label class="text-primary">Email id or Phone number</label> 
      <input type="text" class="form-control text-center" id="phone"
       formControlName="phone" placeholder="Email id or Phone number">      
       <label class="mt-4 text-primary">What is your location</label> 
       <input type="text" class="form-control text-center" id="lco"
        formControlName="loc" placeholder="What is your location">
       <button type="submit" class="btn btn-primary mt-3" (click)="search.emit()" [disabled]="!f.phone.value">Go</button>

    </div>
  </app-modal>
</form>
