<app-bread-crumbs></app-bread-crumbs>
<app-teacher-info-block [teacher]="course.user">
  <span *ngIf="course" course_price>
    Fees: {{ course.price }}
  </span>

  <div live_class class="col" *ngIf="course && course.live_class && course.live_class_url">
    <h5>Live Class</h5>
    <div *ngIf="!course.user.is_able" class="alert alert-warning">Sorry teacher plan was expired</div>
    <ng-container *ngIf="course.user.is_able">
      <app-player [videoSources]="video"></app-player>
    </ng-container>
  </div>
</app-teacher-info-block>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">NEWS UPDATES</h5>
    <p [innerHTML]="course.news"></p>
  </div>
</div>

<h4>{{course.name}}</h4>
<ng-container *ngIf="course.course_tag && course.course_tag.length">
  <span *ngFor="let course_tag of course.course_tag">
    {{course_tag.tag_name}}
  </span>
</ng-container>
<p [innerHTML]="course.description"></p>

<ng-container *ngIf="course.course_module && course.course_module.length">

  <div *ngIf="!course.user.is_able" class="alert alert-warning">Sorry teacher plan was expired</div>
  <div class="row" *ngIf="course.user.is_able">

    <app-course-module class="col" *ngFor="let course_module of course.course_module" [course_module]="course_module"></app-course-module>
  </div>
</ng-container>

