<app-search></app-search>
<div class="container">
<ng-container *ngIf="(teachers$ | async) as teachers">
  <div class="pt-4 pb-4"><h5><span class="text-primary">{{ teachers.total }} {{ (teachers.total > 1) ? 'results' : 'result'}}</span> found!</h5></div>
  <ng-container *ngIf="teachers && teachers.data.length">
    <div class="row">
      <app-teacher-block class="col-md-6 col-lg-6 mb-4" *ngFor="let teacher of teachers.data" [teacher]="teacher"></app-teacher-block>
    </div>    
    <div *ngIf="teachers.next_page_url">
      <a href="javascript:{}" (click)="loadMore(teachers.current_page + 1)">Load More</a>
    </div>
  </ng-container>
  <ng-container *ngIf="!teachers || !teachers.data.length">
    <div class="alert alert-warning">No teacher found</div>
  </ng-container>
</ng-container>

</div>
