.footer-48201 {
    padding:2rem 0 1rem 0;
    background-color:#d8d8d8;
    color: #777; }
    .footer-48201 .footer-site-logo {
      font-size: 1.5rem;
      color: rgb(0, 0, 0); }
    .footer-48201 .nav-links li {
      margin-bottom: 10px; }
      .footer-48201 .nav-links li a {
        color: gray; }
        .footer-48201 .nav-links li a:hover {
          color: #000; }
    .footer-48201 .btn.btn-tertiary {
      background-color: #0278ff;
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px; }
    .footer-48201 .social li {
      display: inline-block; }
      .footer-48201 .social li a {
        color: gray;
        padding: 7px; }
        .footer-48201 .social li a:hover {
          color: #fff; }
    .footer-48201 .copyright {
      border-top: 1px solid #404040; }

      fa-icon{        
        font-size:18px;        
    }
  