<footer class="footer-48201 mt-5">
    <div class="container">
    <div class="row">
    <div class="col-md-4 pr-md-5">
    <a href="#" class="footer-site-logo d-block mb-4">Maya Portal</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi perferendis ratione perspiciatis accusantium.</p>
    </div>
    <div class="col-md">
    <ul class="list-unstyled nav-links">
    <li><a routerLink="/">Home</a></li>
    <li> <a routerLink="/about-us" >About Us</a></li>    
    <li><a routerLink="/contact-us" >Contact Us</a></li>
    </ul>
    </div>
    <div class="col-md">
    <ul class="list-unstyled nav-links">
    <li><a routerLink="student/register">Students Register</a></li>
    <li><a routerLink="teacher/register">Teacher Register</a></li> 
    <li><a href="#">Login</a></li>    
    </ul>
    </div>
    <div class="col-md">
    <ul class="list-unstyled nav-links">
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms &amp; Conditions</a></li>
    <li><a href="#">Cookies Policy</a></li>
    </ul>
    </div>
    <div class="col-md text-md-center">
    <ul class="social list-unstyled">
    <li><a href="#"><fa-icon class="fa-icon-you" [icon]="faTwitter"></fa-icon></a></li>
    <li><a href="#"><fa-icon class="fa-icon-you" [icon]="faFacebook"></fa-icon></a></li>
    <li><a href="#"><fa-icon class="fa-icon-you" [icon]="faPinterest"></fa-icon></a></li>
    <li><a href="#"><fa-icon class="fa-icon-you" [icon]="faDribbble"></fa-icon></a></li>
    <li><a href="#"><fa-icon class="fa-icon-you" [icon]="faInstagram"></fa-icon></a></li>
    </ul>
    <p class=""><a href="#" class="btn btn-tertiary">Contact Us</a></p>
    </div>
    </div>
    <div class="row ">
    <div class="col-12 text-center">
    <div class="copyright mt-5 pt-5">
    <p><small>Maya © 2021-2022 All Rights Reserved</small></p>
    </div>
    </div>
    </div>
    </div>
    </footer>