

@media only screen and (max-width:780px) {
  .banner{
    min-height: 110px;
    position: relative;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .btn-primary {
      position: absolute;
      bottom:30px;
      right:30px;
    }
  }
  
}

@media only screen and (min-width:780px) {
  .banner{
    min-height:250px;
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .btn-primary {
      position: absolute;
      bottom:30px;
      right:30px;
    }
  }
  
}