.price-list {
    color:#05A6CF;
}
.avathar-user {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 168px;
    border-radius: 5px;
}
::ng-deep {
    .star {
        font-size:15px!important;
    }
   
}
@media only screen and (max-width:768px) {
    .mob-btn {
        padding: 1em 2em;
        display: block;
        margin-left: 0!important;
        width: 100%;
        margin-top: 12px;
    }
}