<div>
  <div class="row">
    <div class="col">
      <ng-container *ngIf="teacher?.id">
        <img [src]="teacher.avatar" [alt]="teacher.fname">
        New Messages 25
        {{ teacher.fname }} {{ teacher.lname}}
        <ng-container *ngIf="user$ | async else login">
          Status: <span class="text-success">PAID</span>
          <button class="btn btn-primary">Whats app</button>
          <button class="btn btn-primary">Message</button>
        </ng-container>
        <ng-template #login>
          <app-login-link >
            <button class="btn btn-primary ml-2"
            placement="top"
            ngbTooltip="Only logged user can contact teacher">
              <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app
              <fa-icon [icon]="faLock" ></fa-icon>
            </button>

            <button class="btn btn-primary ml-2"
            placement="top"
            ngbTooltip="Only logged user can contact teacher">
              Message
              <fa-icon [icon]="faLock" ></fa-icon>
            </button>

          </app-login-link>
        </ng-template>

      </ng-container>


      <ng-content select="[course_price]"></ng-content>
    </div>
    <ng-content select="[live_class]"></ng-content>

  </div>

</div>
