<div class="bg-white p-4 shadow-sm">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="teacher?.id">
        <ng-container *ngIf="user$ | async else login">
        <div class="row">
          <div class="col-md-6 col-lg-6 border-right">
            <div class="row">
              <div class="col-6"><img [src]="teacher.avatar" [alt]="teacher.fname"></div>
              <div class="col-6">
                <h5> {{ teacher.fname }} {{ teacher.lname}}</h5>
                <label>Status:</label>
                <h6 class="text-success">PAID</h6>
                <label class="price-list mt-3"><ng-content select="[course_price]"></ng-content></label>

              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 pl-4">
            <div class="row">
              <div class="col-12 pb-3">
                <h6 class="d-block">Connect with</h6>
                <app-send-message-to-teacher
                class="teacher-message-btn mr-2 mb-2"
                *ngIf="teacher.email" [user]="teacher">
                  Message
                </app-send-message-to-teacher>

                <ng-container *ngIf="teacher.phone">
                <a class="d-none btn btn-sm btn-primary" target="_blank" [href]="'https://web.whatsapp.com/send?phone='+teacher.phone"> <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app</a>
                <a class=" btn btn-primary btn-sm" target="_blank" [href]="'https://api.whatsapp.com/send?phone='+teacher.phone"> <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app</a>
              </ng-container>

            </div>

              <!-- <div class="col-6 pt-3 border-right">
                <p class="text-primary">New Messages</p>
                <h6>25</h6>
              </div> -->
              <div class="col-6 pt-3 pl-4" *ngIf="teacher?.current_user_plan?.remaining_days">
                <p class="text-primary">Expire after </p>
                <h6>{{teacher?.current_user_plan?.remaining_days}} Days</h6></div>
            </div>
          </div>

        </div>

 </ng-container>

        <ng-template #login>
          <app-login-link >
            <button class="btn btn-primary ml-2"
            placement="top"
            ngbTooltip="Only logged user can contact teacher">
              <fa-icon [icon]="faWhatsapp" ></fa-icon> Whats app
              <fa-icon [icon]="faLock" ></fa-icon>
            </button>

            <button class="btn btn-primary ml-2"
            placement="top"
            ngbTooltip="Only logged user can contact teacher">
              Message
              <fa-icon [icon]="faLock" ></fa-icon>
            </button>

          </app-login-link>
        </ng-template>

      </ng-container>



    </div>

    <ng-content select="[live_class]"></ng-content>

  </div>

</div>
