<section class="well-bg-header">
    <div class="container">
      <h3>Refund & Privacy Policy</h3>
    </div>
  </section>
  <section class="container">
      <div class="card mb-3">
          <div class="card-header text-primary text-uppercase">Updated: JUNE,  01 , 2021.</div>
          <div class="card-body">Tutors Platform, LLC ("us", "we", or "our") operates the https://mayatutors.com/  website (the "Service"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service. We will not use or share your information with anyone except as described in this Privacy Policy. We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</div>
      </div>
      <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Our commitment to privacy.</div>
        <div class="card-body">Your privacy is important to us. To better protect this privacy we provide notices explaining our online information practices and choices you can make. To make this notice easy to find, we make it available it to you on our home page.</div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Log Data.</div>
        <div class="card-body">We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.</div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">The information collected.</div>
        <div class="card-body">
            This notice applies to all information collected or submitted on our website. We collect only such information from you as necessary to provide products and services to you from our website. On some pages you can order products and services, make request and register to receive materials. Information collected on these pages has:
            <ul>
                <li>Name</li>
                <li>Email  Address</li>
                <li>Phone no</li>
                <li>ip Address </li>
                <li>Computer name</li>
                <li>Browser details </li>
            </ul>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Communications.</div>
        <div class="card-body">We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send or by contacting us.</div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Use of the information.</div>
        <div class="card-body">
           <p> We use the information you provide about yourself when you are requesting for more information, or are buying a product or service from our partners, affiliates or third party site, only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order.</p>
           <p>We use return email addresses to answer the email and we don't use the same for any other purpose. We use non-identifying information to design our website and share the same with advertisers. we do not disclose any thing that could be used to identify those individuals. We do not sell or rent your personal information to any one.</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Links to Other Sites.</div>
        <div class="card-body">
           <p>Our Service may contain links to other sites that are not operated by us. Similarly, there is a facility at https://mayatutors.com/ to display teachers' video and pdf for learning. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Our commitment to data security.</div>
        <div class="card-body">
           <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. Our internal security and privacy policies are periodically reviewed and enhanced as necessary and only authorized individuals have access to the information provided by our users.</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Corrections to your information.</div>
        <div class="card-body">
           <p>You can access and update all your personally identifiable information that we collect online by logging in our account by providing user id and secure password. We use this procedure to better safeguard your information. You can correct factual errors in your personally identifiable information, as we do take reasonable steps to verify your identity before granting access or making corrections.?</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Children's Privacy.</div>
        <div class="card-body">
           <p>Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of  18 ("Children"). We do not knowingly collect personally identifiable information from children under 18. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a child under age 18 without verification of parental consent, we take steps to remove that information from our servers. ( As per the age law of the respective country, minors should not register on this  https://mayatutors.com/ web portal.)</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Changes to This Privacy Policy.</div>
        <div class="card-body">
           <p>This Privacy Policy is effective as of JUNE,  01 , 2021. and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Refund Policy.</div>
        <div class="card-body">
            <h4>TUTORS OR INSTITUTION REFUND POLICY</h4>
<ol>
<li>mayatutors.com will give an opportunity to teachers for using this website with its full features for free for a fixed period. This period is also an opportunity to check whether this site is convenient to them. Therefore, before payment of portal fee / rent, be convinced that whether this site is useful to you.  </li>
<li>If a teacher needs a refund of portal rent for any other reason, that teacher has to inform the same to mail@mayatutors.com in https://mayatutors.com within 7 days after payment. If so, the fee will be refunded within 1 month. But, if the refund is requested after 7 days, refund will not be granted.</li>
<li>while making payment on mayatutors.com, there may be situation that your course does not get enabled and at the same time your bank account was debited. contact your bank or wallet in such situations.</li>
</ol>
<h4>STUDENTS REFUND POLICY</h4>
<ol>
<li>As students need not remit fees directly to mayatutors.com, if students need a refund of the fees given to a selected teacher, request to the respective teacher.</li>          
</ol>
        </div>
    </div>
    <div class="card  mb-3">
        <div class="card-header text-primary text-uppercase">Contact Us.</div>
        <div class="card-body">
           <p>If you have any questions about this Privacy Policy, please CONTACT US </p>
           <p>Terms & Condition</p>
           <p>Tutors, students / parents should read the <a routerLink="/terms-and-conditions">terms and conditions</a> before registering at https://mayatutors.com/.</p>
        </div>
    </div>
  </section>