  <form [formGroup]="forgotFrmFrm" (submit)="retrievePassword()">
    <h5>FORGOT PASSWORD</h5>
    <div id="recaptcha-container"></div>
    <div class="text-danger" *ngIf="invalidlogin">User not exists</div>
    <div class="form-group">
        <label for="mobile" class="col-form-label d-none">Email / Mobile</label>
        <div class="">

            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.mobile.invalid && ((f.mobile.dirty || f.mobile.touched))}"
            id="mobile"
            ngbAutofocus autocomplete="mobile"
            required  placeholder="Email / Mobile"
            formControlName="mobile"
            />
            <ng-container *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)">
              <div *ngIf="f.mobile.errors.required" class="invalid-feedback">
                Email / Mobile is required.
              </div>
              <div *ngIf="f.mobile.errors.notexists" class="invalid-feedback">
                User not exists
              </div>
            </ng-container>


        </div>
    </div>

  <div>
    <button type="button" class="btn btn-outline-secondary mr-3 d-none" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-primary btn-block mt-4"  [disabled]="forgotFrmFrm.invalid">
      Retrieve Password
    </button>

    <a href="javascript:{}" class="d-block text-center mt-4" (click)="back()">Back To Login</a>

  </div>



  </form>
