<form [formGroup]="editProfileFrm">
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname"
    [ngClass]="{'is-invalid': (f.fname.errors && f.fname.errors.error) }"
     placeholder="First Name" formControlName="fname" >
      <div *ngIf="f.fname.errors && f.fname.errors.error" class="invalid-feedback">
        {{f.fname.errors.error}}
      </div>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname"
    [ngClass]="{'is-invalid': (f.lname.errors && f.lname.errors.error)}"
    placeholder="First Name" formControlName="lname">
    <div *ngIf="f.lname.errors && f.lname.errors.error" class="invalid-feedback">
      {{f.lname.errors.error}}
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Whatsapp / Phone Number</label>
    <input type="text" class="form-control" id="phone" placeholder="Whatsapp / Phone Number"
    formControlName="phone">
  </div>
  <div class="form-group">
    <label for="email">Email Id</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Id"
    formControlName="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="country_id">Country</label>
    <ng-select [items]="(countries$ | async)"
        bindLabel="name"
        id="country_id"
        [ngClass]="{'is-invalid': ( f.country_id.errors && f.country_id.errors.error)}"
        placeholder="select Country"
        formControlName="country_id">
        </ng-select>
        <div *ngIf="f.country_id.errors && f.country_id.errors.error" class="invalid-feedback">
          {{f.country_id.errors.error}}
        </div>
  </div>

  <div class="form-group">
    <label for="state_id">State</label>
    <ng-select [items]="(states$ | async)"
        bindLabel="name"
        [ngClass]="{'is-invalid': ( f.state_id.errors && f.state_id.errors.error)}"
        id="state_id"
        placeholder="select State"
        formControlName="state_id">
        </ng-select>
      <div *ngIf="f.state_id.errors && f.state_id.errors.error" class="invalid-feedback">
        {{f.state_id.errors.error}}
      </div>
  </div>

  <div class="form-group">
    <label for="city_id">City</label>
    <ng-select [items]="(cities$ | async)"
      [ngClass]="{'is-invalid': ( f.city_id.errors && f.city_id.errors.error)}"
        bindLabel="name"
        id="city_id"
        placeholder="select City"
        formControlName="city_id">
        </ng-select>
        <div *ngIf="f.city_id.errors && f.city_id.errors.error" class="invalid-feedback">
          {{f.city_id.errors.error}}
        </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
