.student-avathar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height:241px;
    display: block;
    border-radius: 5px;
}
.demo-url {
    float: right;
    font-size: 18px;
    color: #007bff;
    clear: both;
}
.fa-icon-you {
    color: red;
    font-size: 34px;
    margin-left: 15px;
    position: relative;
    top: 7px;
}
.clearFix {
    clear: both;
}