
<section class="well-bg-header">
  <div class="container">
    <h3 >MAKE THE PAYMENT</h3>
  </div>

</section>
<section class="min-heightwrap">
  <div class="container">

    <div class="d-flex payment-wrap bg-white shadow-sm border"  *ngIf="(plan$ | async) as plan">
      <div class="flex-1 border-right p-5 text-center align-items-center mob-hide">
<img src="./assets/payment.png" alt="sec payment img" class="mt-5" />
<h6 class="text-uppercase mt-3">Secure Payment</h6>

      </div>
      <div class="flex-2">
<div class="blue-royal">

  <div class="row m-0">
    <div class="col-lg-6 col-md-6 text-white p-4 border-bottom">
      <label class="text-uppercase">plan Name</label>
      <h5>{{plan.name}}</h5>
    </div>
    <div class="col-lg-6 col-md-6 text-white p-4 border-bottom">
      <label class="text-uppercase">Price</label>
      <h5>₹ {{ plan.price }}</h5>
    </div>
  </div>
  <div class="row m-0" *ngIf="plan.price">
    <div class="col-lg-6 col-md-6 text-white p-4">
      <label class="text-uppercase">GST</label>
      <h5>{{plan.gst.value}} %</h5>
    </div>
    <div class="col-lg-6 col-md-6 text-white p-4">
      <label class="text-uppercase">Total Amount ( {{plan.gst.value}} % GST added )</label>
      <div class="d-flex align-items-center"><h1 class="flex-1">₹ {{ plan.gstPrice }}</h1> <label class="flex-1">$ {{plan.usd_amount}}</label></div>
      
    </div>
  </div>

  <div class="row m-0" *ngIf="coupon$.asObservable() | async as coupon">
    <div class="col-lg-12 col-md-12 text-white p-4">
      <div>
        Coupon {{coupon.code}} is applied
      </div>
    </div>
  </div>

</div>
<div class="p-4">
  <app-apply-coupon *ngIf="plan.price" (setCoupon)="setCoupon($event)"></app-apply-coupon>
  <hr/>
  <div class="d-flex">
  <button class="btn btn-primary mt-4 btn-lg ml-auto" (click)="goToPurchase(plan)">Continue <fa-icon class="ml-3" [icon]="faLongArrowAltRight"></fa-icon></button>
</div>
</div>
      </div>
    </div>



  </div>

</section>

