@import '../../../../variables.scss';
.payment-wrap {

    .flex-1 {
        flex: 1;
    }
    .flex-2 {
        flex: 2;
    }
}
.min-heightwrap{min-height: calc(100vh - 559px);}
.blue-royal {
    background-color: $primaryColor;
   
}
@media only screen and (max-width:768px) {
    .mob-hide {
        display: none;
    }
  }

.w-80 {
    width: 80%;
}