<app-modal>
    <div  body class="mx-height-60">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="STUDENTS TERMS AND CONDITION">
          <ng-template ngbTabContent>
              <div class="border-left border-right border-bottom bg-white p-4">
               <ol>
                   <li><p>http//mayatutors.com is a web portal intended for educational purposes only. </p>
                       <p>The aim of this web portal is to provide a digital platform for teachers who wish to take tuition classes for different subjects online. Through this platform, teachers can conduct live classes as well as robotic classes which use recorded videos.</p></li>
                   <li>
                       <p>In this digital world, students can select their teachers from different places and attend their live or recorded classes. mayaturors.com provides this facility to our students. mayaturots.com  does not charge students for finding teachers through this web site.However, for availing tuition classes or courses from the selected teacher, students will have to remit a fee fixed by that particular teacher. mayatutors.com receives nothing kind of commission from both parties. </p>
                   </li>
                   <li>
                       <p>students below 18 should use their parents' email ID while creating an account on this website.</p>
                   </li>
                   <li>
                       <p>Those who come as 'students' to this website should do "students register". "teachers register" is for teachers only.</p>
                       <p>If a student does "teacher register, he or she shall not be eligible to study in this portal.</p>
                   </li>
                   <li>
                       <p>When students or those who register as student find teachers and make their classes available on this website, the phone number, whatsapp number, email id, photograph of the teacher etc given by the teacher should not be misused in any way. as well as, study materials like pdf, video, digital records given by the teacher should not be copied, displayed in other website, or misused.</p>
                   </li>
                   <li>
                       <p>If any students misuse teachers' photos or email id or phone number and face legal procedure, only them will be responsible for the same.</p>
                   </li>
                   <li>
                       <p>At mytutor.com, it is the students responsibility to select the subject to be studied, teacher, and qualification of teacher.</p>
                   </li>
                   <li>
                       <p>The main aim of mayatutors.com is to provide a platform for teachers to teach and students to study.</p>
                   </li>
                   <li>
                       <p>Study subject, teachers' fees, qualification of the teacher etc should be confirmed by students before selecting teachers and remitting fees.</p>
                   </li>
                   <li>
                       <p>Disputes with teachers regarding study subject, teacher fees etc are to be resolved with the teacher or through the legal system.myatutors.com web portal or authorities have no responsibility for such matters. This is because mayatutors.com is only a platform for teachers to conduct  tution classes.</p>
                   </li>
                   <li>
                       <p>Nevertheless, if any teacher misuse this web site or give wrong information, students may inform the authority by clicking the "report" button or sending email from "contact".If the website authorities are convinced that a teacher have misused the website, that teacher will be removed from mayatutors.com</p>
                   </li>
                   <li>
                       <p>If it is any students that misuse this web site in any way, he or she will be removed from this web portal.</p>
                   </li>
                   <li>
                       <p>When taking a course or paying a teacher, make sure that that teacher is not fake. To know whether a teacher is fake, check if that teacher has paid.</p>
                   </li>
                   <li>
                       <p>No information provided by students on this portal will be misused or passed on to third parties. However, for legal purposes, students' information may be brought before the law or in the cort. If requested so by the law department or government investigative agency.</p>
                   </li>
                   <li>
                    <p>Information provided by students such as photo, mobile number, email id, etc.cannot be viewed by outsiders, other students or other teachers except the teacher chosen by that student.</p>
                   </li>
                   <li>
                    <p>Therefore, if a teacher misuse a student's photo or mobile number, the same teacher will be responsible for it. </p>
                   </li>
                   <li><p>Those who register as students should not enter incorrect email id, phone number, name,photo and address. if so, that student will be removed from the portal</p></li>
               <li><p>Conducting live/video classes and displaying pdf or other files will be the responsibility of the respective teachers only.</p></li>
               <li>
                   <p>Teachers cannot upload video files, pdf, or other digital files directly on this web site. instead, such files are uploaded in a third party video streaming server and it's link is displayed on this website mayatutors.com.</p>
                   <p>Therefore, if students face any problems with the availability of  videos, pdf and other digital records, due to third party server problems mayatutors.com takes no responsibility.</p>
               </li>
               <li>
                   <p>If students face any disruption with learning or if you have any complaints regarding fees, please complain to your teacher or complain legally.</p>
               </li>
               <li>
                   <p>
                    students from different countries should use this website in accordance with the laws of the respective country.
                   </p>
               </li>
               <li><p>
                mayatutors.com receives no commission from teachers or students or from the fees given by students to teachers.However, for displaying teachers' profile, contact details, teaching subjects, live/recorded video; mayatutors.com receives fees from teachers.
               </p></li>
               <li>
                   <p>
                    Students should ensure that the teacher's profile, photo, bank information and other payment options are correct. The fee to be paid and course to be accepted will be subject only to the agreement between the teachers and the students. Therefore, when selecting teachers or paying fees, students should directly check whether the teachers information is correct.
                   </p>
               </li>
               <li>
               <p> If any financial frauds mislead students and fees are charged, students should definitely report to https://mayatutors.com/ and lodge a legal complaint.</p>
               </li>
               <li><p>Students should not share their username or password to anyone else.</p></li>
               <li><p>Those who register as teachers should have an internet connection with a minimum speed of 1mbps. Unless otherwise, if you face any interruption in listing the course, mayatutors.com will not be responsible.</p></li>
                <li><p>Instructions to the students have been displayed as videos on this website. watch these videos and follow the rules while entering this website. </p></li>
           <li><p>When students send email from their admin, it will be their own responsibility. if teachers block sending mails to their profile in mayatutors.com, those students should not send mails to that teacher thereafter.</p> </li>
           <li><p>In case a student needs refund of fees given to a teacher selected, ask the respective teacher. Because  students do not remit fees directly to mayatutors.com. ask and understand the teacher about refund matters before joining the course.</p></li>
        </ol>
              </div>            
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>TEACHERS TERMS AND CONDITIONS</ng-template>
          <ng-template ngbTabContent>
            <div class="border-left border-right border-bottom bg-white p-4">
<ol>
<li><p>When all governments promote online study in future, teachers will have to spend large sums to have their own website to conduct tuition classes or courses. in view of this fact, at a small cost http://mayatutors.com is providing a platform / webportal for those who wish to conduct online tuition classes. This is the main aim of mayatutors.com.It is important to read all terms and conditions on this website before registering as "teacher login".</p></li>
<li><p>Teachers under the age of 18 or minors should not register as "teacher register" on this website.</p></li>
<li><p>Only teachers should register as "teacher register" on the web portal http://mayatutors.com.</p></li>
<li><p>Teachers who want to register as a "teacher" on this website for the first should not do "student register".  If so, they will not be eligible to register as a teacher later.</p></li>
<li><p>Those who enter this website as students should never do a "teacher register". If so, he or she will not be able to register as a student later</p></li>
<li><p>Those who enter this website as students should never do a "teacher register". If so, he or she will not be able to register as a student later.</p></li>
<li><p>Those who register as teachers should not enter wrong bank details, profile photo, address,or contact details.</p></li>
<li><p>Profile photo,whatsapp number, mobile number and address of those who have registered as teachers can be seen by all students or any one who log in to this site. Students can directly chat with teachers in the Whatsapp number given by teachers in mayatutors.com. That is, mayatutors.com has been set in such a way that those who register as teachers can use their profile in mayatutors.com as their own website.</p></li>
<li>
    <p>However, those who opt for privacy need not display their profile photo or contact/mobile/phone number on their profile. New students can contact these teachers via the 'contact mail' option. Teachers will get this mail in the "mailbox" in teachers' admin.</p>
</li>
<li><p>Those who register as teachers, (privacy and non privacy options) It is their real photo to be posted as their profile photo. other photos like photos of animals, flowers, babies, any objects, course details etc. should not be posted in that place. If not interested in displaying your real photo, do not post anything.</p></li>
<li><p>Those who have registered as teachers on this website, as if their own website, have the facility to display their profile details and upload links of recorded video classes and pdf . also, teachers can conduct live video classes. At mayatutors.com, If the portal fees or rent duration provided for the teaching facility expires, the teaching facility may be lost and the students may not receive the classes of that teacher. However, if the teacher pays the portal fees(rent) teachers can resume their teaching and students will continue to get classes.</p></li>
<li><p>Only teachers who have registered as "teacher register" can display teaching videos. Students who have been allowed by the teacher are allowed only to watch and study these videos.</p></li>
<li><p>Those who register as teachers can teach students for free for a fixed period allowed by mayatutors.com. however, after the expiry of portal fee/rent, teaching can be continued only after payment of the portal rent/fees at http://mayatutors.com/</p></li>
<li>
    <p>This web portal works as a platform in which the teacher can teach just like their own website. therefore, if teachers who register as "teachers" display incorrect or illegal information in his portal, only that teacher will be responsible for any legal or non legal sufferings that may result from doing so.</p>
</li>
<li>
    <p>
        In case http://mayatutors.com has to pay a legal fine because of a teacher's fault, the registered teacher responsible for the same will have to pay this fine to mayatutors.com.
    </p>
</li>
<li>
    <p>At http:// mayatutors.com, which teachers can use like their own portal, will have the name, logo, menu etc of mayatutors.com on top of the teacher's profile.</p>
</li>
<li>
    <p>The same way a teacher allows a student to watch his classes, the teacher can remove a student from watching his/her class at any time. The losses to the students by this way is the responsibility of the teacher concerned.</p>
</li>
<li>
    <p>Therefore, those who register as teachers should make use of their profile at this website as their own and try their best to give better education to students.</p>
</li>
<li>
    <p>In this web portal, teachers' live classes, video classes, photos, information about themselves, pdf, etc should be decent. and should be in a decent dress code. Otherwise, such teachers will be suspended from this web portal without any warning. If needed, details of that teacher will be handed over to the legal cyst.</p>
</li>
<li>
    <p>Photos or videos of weapons, martial arts,  alcohol, tobacco products etc should not be displayed on this website http://maya tutors.com/</p>
</li>
<li>
    <p>Photos or videos of religious classes, political, lottery, gaims etc should not be displayed on http://mayatutors.com/ </p>
</li>
<li><p>Photos or videos of animals, birds, children, should not be displayed in the profile on http://mayatutors.com. </p></li>
<li><p>http://mayatutors.com/ does not intervene with the subjects being taught by a teacher or receive/demand nothing sort of commission from the fees received by teachers from the students.
    mayatutors.com receives only a service fee for providing a web portal for teachers.
    However both teachers and students should strictly follow the terms and conditions suggested by http://mayatutors.com/
    </p></li>
    <li>
        <p>How to register in http://mayatutors.com, how to upload courses as videos and pdf,how to conduct live classes, how the fees from students reach in your bank account or e wallet, etc. have been displayed as navigation everywhere in mayatutors.com. See these guidelines before taking each step.</p>
    </li>
    <li><p>In mayatutors.com, none of the video, teacher information, pdf, or live classes displayed by the teacher will be used for any other purpose or will be transferred to a third party. However, if teachers are reported to be displaying illegal photo and video classes, Mayatutors.com may check these links and transfer them if requested by investigators to present them for legal purposes.</p></li>
<li><p>Therefore, those who register as teachers should teach only subjects that are legal in their respective countries.</p></li>
<li>
    <p>On mayatutors.com, video/pdf cannot be uploaded directly. Only links to third party sites like youtube, vimeo, google drive  can be uploaded to this portal called mayatutors.com. When a video/pdf needs to be displayed,  only video/pdf links of the third party sites are uploaded on mayatutors.com. therefore, the terms and conditions of teachers' video servers are also applicable. Therefore, mayatutors.com is not responsible for any interruptions in the video and pdf due to this third party malfunction.</p>
</li>
<li>
    <p>Teachers' video and pdf are not stored on the web portal mayatutors.com. Therefore, in case of loss of videos or pdfs, interruptions in the availability of videos and pdf, the damages will be borne by third party sites.</p>
</li>
<li><p>mayatutors.com is only a platform that is for teaching students in 'robotic' methods by coordinating this third party servers.</p></li>
<li>
    <p>Therefore, if any illegal or without permission videos/photos/pdf/other digital files etc. are displayed by teachers on mayatutors.com or if you lose any files, the source of such video/photo/pdf will not be available from this website https://mayatutors.com/. If legal action is taken against it, teachers will be solely responsible.</p>
</li>
<li>
    <p>
      As https://mayatutors.com only displays videos that are uploaded on third party sites, if these files are copied / downloaded or uploaded on other platform by any orhers, mayatutors.com has no any responsibility
    </p>
</li>
<li>
    <p>When those who come as students pay their fees by using QR code or PAYMENT WALLETS, teachers should pay attention to whether it is PAYMENT REQUEST which pays back. when students pay fees via WALLETS, open the WALLET and check if cash has come. If not, ask students to send money to your bank account.</p>
</li>
<li>
    <p>Those who register as TEACHER should have an internet connection with a minimum speed of 1 MBPS. otherwise, in case of interruption in listing the course,mayatutors.com takes no responsibility.</p>
</li>
<li>
    <p>Only teachers can send mail from teachers admin. so the responsibility of any mail sent from a teacher's admin is of that teacher. If students block teachers from sending mails to their profile, teachers should not send mail to that profile.</p>
</li>
</ol>
<h4>Refund policy:</h4>
<ol>
    <li><p>mayatutors.com will give an opportunity to teachers for using this website with its full features for free for a fixed period. This period is also an opportunity to check whether this site is convenient to them. Therefore, before payment of portal fee / rent, be convinced that whether this site is useful to you.  </p></li>
<li><p>If a teacher needs a refund of portal rent for any other reason, that teacher has to inform the same to mail@mayatutors.com in https://mayatutors.com within 7 days after payment. If so, the fee will be refunded within 1 month. But, if the refund is requested after 7 days, refund will not be granted.</p></li>
<li><p>while making payment on mayatutors.com, there may be situation that your course does not get enabled and at the same time your bank account was debited. contact your bank or wallet in such situations.</p></li>
<li>
    <p>as students need not remit fees directly to mayatutors.com, if students need a refund of the fees given to a selected teacher, request to the respective teacher.</p>
</li>
<li><p>When listing or editing tutor profiles and courses, it can take up to 24 hours to get permission from the Mayatutor.com admin.</p></li>
<li>
    <p>If the web portal is temporarily down due to legal or technical issues, no refund will be given within Troubleshooting.</p>
</li>
</ol>
            </div>
          </ng-template>
        </ngb-tab>
      
      </ngb-tabset>

    </div>
    <div footer class="w-100">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">I agree</button>
    </div>

  </app-modal>
