.w-100 {
    width: 100%;
}
.demo-url {
    position: absolute;
    right: 20px;
    top: -23px;
    font-size: 18px;
    color: #007bff;
}
::ng-deep {
.fa-icon-you {
    color: red;
    font-size: 34px;
    margin-left: 15px;
    position: relative;
    top: 7px;
}
}