<form (ngSubmit)="createCourse()" [formGroup]="createCourseFrm">
  <app-modal>
    <div header>
      {{ (course) ? 'Edit Course - '+course.name : 'Create a Course' }}
    </div>

    <div  body>
      <p class="demo-url">Demo video <app-help-video url="https://www.youtube.com/watch?v=3LK0kKeCUbY" title="How to add course"></app-help-video></p>
        <div class="form-group">
          <label for="name">Course Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="courseNameHelp"
          placeholder="Course Name" formControlName="name"
          [ngClass]="{'is-invalid': (f.name.errors && f.name.errors.error) }" ngbAutofocus>
          <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
            {{f.name.errors.error}}
          </div>
          <small id="courseNameHelp" class="form-text text-muted">make sure spelling correct</small>
        </div>

        <div class="row">

        <div class="form-group col-md-6 col-lg-6">
          <label for="tag_name">Tag</label>
          <ng-select [items]="tags"
              bindLabel="tag_name"
              id="tag_name"
              [ngClass]="{'is-invalid': ( f.tag_name.errors && f.country_id.errors.error)}"
              placeholder="'Course Name', 'Tutor Name', 'Tutor Place', 'Mobile Number', etc"
              formControlName="tag_name"
              [addTag]="true"
              [hideSelected]="true"
              multiple="true">
              </ng-select>
              <div *ngIf="f.tag_name.errors && f.tag_name.errors.error" class="invalid-feedback">
                {{f.tag_name.errors.error}}
              </div>
        </div>

        <div class="form-group col-md-6 col-lg-6">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price"
          placeholder="Price" formControlName="price"
          [ngClass]="{'is-invalid': (f.price.errors && f.price.errors.error) }">
          <div *ngIf="f.price.errors && f.price.errors.error" class="invalid-feedback">
            {{f.price.errors.error}}
          </div>
        </div>

        <div class="form-group col-md-6 col-lg-6">
          <label for="demo_video_url">Course Demo Video URL</label>
          <input type="text" class="form-control" id="demo_video_url"
          placeholder="Course Demo Video URL" formControlName="demo_video_url"
          [ngClass]="{'is-invalid': (f.demo_video_url.errors && f.demo_video_url.errors.error) }">
          <div *ngIf="f.demo_video_url.errors && f.demo_video_url.errors.error" class="invalid-feedback">
            {{f.demo_video_url.errors.error}}
          </div>
        </div>

        <div class="form-group col-md-6 col-lg-6">
          <label class="d-block" for="image">Upload Image</label>
          <input type="file"  id="image"
            (change)="onFileInput($event.target.files)" accept="image/*"
            [ngClass]="{'is-invalid': (f.image.errors && f.image.errors.error) }">
            <div *ngIf="f.image.errors && f.image.errors.error" class="invalid-feedback">
              {{f.image.errors.error}}
            </div>
            <a target="_blank" download="../../../../../assets/course-banner-default.jpg" href="../../../../../assets/course-banner-default.jpg">Download sample Image</a>
        </div>
        </div>


        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" placeholder="Description"
           formControlName="description"
           [ngClass]="{'is-invalid': (f.description.errors && f.description.errors.error) }"></textarea>
           <div *ngIf="f.description.errors && f.description.errors.error" class="invalid-feedback">
            {{f.description.errors.error}}
          </div>
        </div>

        <div class="form-group">
          <label for="meeting_url">Meeting URL</label>
          <textarea type="text" class="form-control" id="meeting_url" placeholder="Meeting URL (Zoom, Google Meet, Microsoft Teams Meetings, Webex Meetings) etc. Any Live app Link"
          formControlName="meeting_url" [ngClass]="{'is-invalid': (f.meeting_url.errors && f.meeting_url.errors.error) }"></textarea>
          <div *ngIf="f.meeting_url.errors && f.meeting_url.errors.error" class="invalid-feedback">
            {{f.meeting_url.errors.error}}
          </div>

        </div>

        <div class="form-group">
          <div class="d-flex align-items-center">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="live_class"
            formControlName="live_class"
            [ngClass]="{'is-invalid': (f.live_class.errors && f.live_class.errors.error) }">
            <label class="custom-control-label" for="live_class">Check this if you host live video</label>
          </div>
          <p class="ml-auto ">Live demo video <app-help-video url="https://youtu.be/JRFkEmITWjs" title="How to add course"></app-help-video> </p>
        </div>
          <div *ngIf="f.live_class.errors && f.live_class.errors.error" class="invalid-feedback">
            {{f.live_class.errors.error}}
          </div>
        </div>
        <div class="form-group" *ngIf="f.live_class.value">
          <label for="live_class_url">Live Video URL</label>
          <input type="text" class="form-control" id="live_class_url"
           placeholder="Live Video URL(Youtube Live or Youtube Link)"
          formControlName="live_class_url"
          [ngClass]="{'is-invalid': (f.live_class_url.errors && f.live_class_url.errors.error) }">
          <div *ngIf="f.live_class_url.errors && f.live_class_url.errors.error" class="invalid-feedback">
            {{f.live_class_url.errors.error}}
          </div>
        </div>

        <div class="form-group">
          <label for="news">Live Video News Update for Notice Board</label>
          <textarea type="text" class="form-control" id="news" placeholder="Live Video News Update"
          formControlName="news" [ngClass]="{'is-invalid': (f.news.errors && f.news.errors.error) }"></textarea>
          <div *ngIf="f.news.errors && f.news.errors.error" class="invalid-feedback">
            {{f.news.errors.error}}
          </div>

        <div class="alert alert-danger mt-3"> After saving, add classes. This course will be active within 24 hourse.</div>

        </div>


    </div>
    <div footer class="w-100">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="submit" class="btn btn-primary float-right"  >
          Save
      </button>
    </div>

  </app-modal>
</form>
