
<div class="row m-0">
  <div class="col-lg-6 col-md-6 bag-treat p-5">
    <h3 class="mt-1 mb-4 text-uppercase">LIVE & ROBOTICS</h3>
    <div class="cat-flex-box">
      <ng-container *ngIf="videos$ | async as videos">       
            <div class="card shadow-sm " *ngFor="let item of videos">
                <div class="card-body p-2">
                  <app-player [videoSources]="item.video"></app-player>
                </div>
            </div>        
      </ng-container>
</div>  
  </div>
  <div class="col-lg-6 col-md-6 p-5">
    <h3 class="mt-1 mb-4 text-uppercase">1000 + CATEGORIES</h3>
    <div class="cat-flex-box">
      <div class="card shadow-sm ">       
            <div class="card-body">
              <h6>WORLD WIDE</h6>
              <h1 class="mt-3">25000</h1>
              <p class="mb-2px">Verified Tutors & Institutes</p>
            </div>
            <div class="card-footer">
                <h2>FIND FOR FREE</h2>
            </div>        
    </div>
    <div class="card shadow-sm ">
            <div class="card-body min-176">
              <h6 class="text-uppercase mb-4">Thousands of Syllabus</h6>
              <h1 class="font-20 mt-33px">LIVE & ROBOTICS RECORDED CLASSES</h1>
            </div>
    </div>
    </div>
  
  </div>
  

    



</div>
