@import '../../../variables.scss';

.bag-treat {
    background-color: #e7eff9;
background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}
.font25 { font-size: 25px;}


.flext-column {
    flex-direction: column;
}

@media only screen and (min-width:768px) {
    .herobg {
        background-image: url(../../../assets/training.png);
        background-repeat: no-repeat;
        background-position: bottom right -126px;
        background-size: 68%;
    
    }
    .herobg2 {
        background-image: url(../../../assets/robotic.png);
        background-repeat: no-repeat;    
        background-position: bottom right -171px;
        background-size: 71%;
    }

}

@media only screen and (max-width: 1200px) {
    .cat-flex-box {
        display: flex;   
        row-gap: 30px;
        flex-direction: column;
        .card {
            flex:1;
            h6 {color: #ffffff;}
            color: #ffffff;
            h1 {
                color:$primaryColor;
            }
            h2 {
                color:$primaryColor;
            }
        }
    }
   
  }

  @media only screen and (min-width: 1200px) {
    .cat-flex-box {
        display: flex;  
        flex-direction: column; 
        row-gap: 30px;
        .card {
           width: 50%;
           &.wid-100 {
               width:64%;
           }
           h6 {color: #ffffff;}
           color: #ffffff;
            h1 {
                color:$primaryColor;
            }
            h2 {
                color:$primaryColor;
            }
        }
    }
   
  }