@import '../../../../../variables';
.search-container {
  text-align:center;
  background-color:$primaryColor;
  color:#fff;
  a{
    color: #fff;
    text-decoration: none;
  }
  .input-group-text {
      padding: 0.165rem 0.3rem;
  }
}
