<section class="search-container" *ngIf="(user$ | async) as user">
  <div class="container pt-3 pb-3">
    <div class="input-group mb-2 mr-sm-2">
      <input *ngIf="!shareOnly" class="form-control" type="text" placeholder="Readonly input here..."
       readonly [value]="custmUrl">

     Share website to
     <share-button button="facebook" [size]="-1"
      [icon]="faFacebook" [url]="custmUrl"
      [title]="user.fname+' '+user.lname"
      [description]="'as'"
      [image]="user.avatar"
      [tags]="'asasas'" placement="top" ngbTooltip="share in facebook"></share-button>
     <share-button button="linkedin" [icon]="faLinkedin" [url]="custmUrl"
     placement="top" ngbTooltip="share in linkedin"></share-button>
     <share-button button="whatsapp" [icon]="faWhatsapp" [url]="custmUrl"
     placement="top" ngbTooltip="share in whatsapp"></share-button>
     <share-button button="telegram" [icon]="faTelegram" [url]="custmUrl"
     placement="top" ngbTooltip="share in telegram"></share-button>
     <share-button button="copy" [icon]="faCopy" [url]="custmUrl"
     placement="top" ngbTooltip="copy to clipboard"></share-button>

    </div>
  </div>
</section>
