.card {
    .font-22{
        font-size:22px;
        a{font-size:22px;}
    }
    .d-grid {
        align-items: center;
        p {margin-bottom: 0px;}
        text-align: right;

        &.grd-col-3 {
           
            grid-template-columns: 1fr 1fr 67px;
            &:nth-child(1) {
                text-align: left;
            }
            
        }
    }
    .btn-custom {
        border-radius: 25px;
    padding: 12px 42px;
    }
    i {
        width:75px;
    height:75px;
    background: #fff;
    border:1px solid #ddd;
    border-radius: 50px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    .ng-fa-icon {
        font-size: 33px;
    line-height: 63px;
    }
    }
}


@media only screen and (max-width: 768px) {
    .free-demo {
        position: absolute;    
        background: red;
        width:131px;
        text-transform: uppercase;
        left:0px;
        padding-top: 9px;
        top: -19px;
        &::after {
            content: "";
            width: 49px;
            height: 43px;
            position: absolute;
            transform: rotate(45deg);
            display: block;
            background: red;
            left: 34px;
            bottom: -2px;
            z-index: 1;}
        
        h3 {
            color: white;
            font-size: 18px;
            position: relative;
            z-index: 2;
        }
    }
  }

  @media only screen and (min-width: 768px) {
    .free-demo {
        position: absolute;    
        background: red;
        width: 85px;
        text-transform: uppercase;
        left:5px;
        padding-top: 9px;
        &::after {
            content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        transform: rotate(45deg);
        display: block;
        background: red;
        left: 12px;
        bottom: -2px;
        z-index: 1;}
        
        h3 {
            color: white;
            font-size: 18px;
            position: relative;
            z-index: 2;
        }
    }
  }