<form [formGroup]="inboxFrm">
  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="selected">
            <label class="custom-control-label" for="selected">&nbsp;</label>
          </div>
        </th>
        <th>
          Subject
        </th>
        <th>
          Option
        </th>
      </tr>
    </thead>
    <tbody formArrayName="mailArr">
      <ng-container *ngIf="(mails$ | async) as mails">
        <tr *ngFor="let mail of mailArr.controls; let i=index; let last = last" [formGroupName]="i">
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [id]="'checkbox'+getControls(mail).id.value" formControlName="selected">
              <label class="custom-control-label" [for]="'checkbox'+getControls(mail).id.value">&nbsp;</label>
            </div>
          </td>
          <td>
            <a href="javascript:{}" [innerHTML]="getControls(mail).subject.value" [routerLink]="'read/'+getControls(mail).id.value"></a>
          </td>
          <td>

          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</form>
