<form [formGroup]="inboxFrm">  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Subject
        </th>
        <th width="40">
        </th>
      </tr>
    </thead>
    <tbody formArrayName="mailArr">
      <ng-container *ngIf="(mails$ | async) as mails">
        <tr *ngFor="let mail of mailArr.controls; let i=index; let last = last" [formGroupName]="i">
          <td>
            <a href="javascript:{}" [innerHTML]="getControls(mail).subject.value"
            [ngClass]="{'font-weight-bold' : getControls(mail).unread_count.value, 'read-mail' : !getControls(mail).unread_count.value }" [routerLink]="'read/'+getControls(mail).id.value"></a>
            <span *ngIf="getControls(mail).messages_count.value && getControls(mail).messages_count.value > 1">
              ( {{ (getControls(mail).messages_count.value - 1) }} )
            </span>
          </td>
          <td>
            <span [ngClass]="'del-'+getControls(mail).id.value"><a href="javascript:{}" (click)="deleteMail(getControls(mail))" class="btn btn btn-sm text-danger" ><fa-icon [icon]="faTrash"></fa-icon></a></span>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="!(mails$ | async)?.length">
        <td colspan="3" class="alert alert-warning">
          No mail found!
        </td>
      </tr>
    </tbody>
  </table>
</form>
