<div *ngIf="(plans$ | async) as plans">

  <!-- Mahesh's code -->
  <app-bread-crumbs [hide]="true"></app-bread-crumbs>
  <div class="col  d-none" *ngFor="let plan of plans">
    <h3>{{plan.name}}</h3>
    <ng-container *ngIf="plan.features && plan.features.length">
      <p *ngFor="let feature of plan.features">
        {{feature}}
      </p>
    </ng-container>
    <p *ngIf="plan.price">₹ {{plan.price}}</p>
    <a [routerLink]="plan.id" class="btn btn-primary" *ngIf="!plan.my_user_plan">
    {{ plan.price > 0 ? 'Buy Now' : 'Free Trial'}}
    </a>
    <span *ngIf="plan.my_user_plan" class="badge badge-primary">Current Plan</span>
  </div>

<!-- Paraveen's code -->

<section class="pricing container-fluid">
  

  
    <h5 class="text-center mt-5">Payment for tutors only</h5>
    <div class="row pt-5 m-0">

      <!-- Free Tier -->
      <div class="col-lg-4 mb-5" *ngFor="let plan of plans">
        <div class="card over-flow-hidden">
          <div class="card-header " [ngClass]="{'warning-clr': !plan.price, 'blue-clr': plan.price}">
            <h5 class="card-title text-uppercase text-center text-white">{{plan.name}}</h5>
          </div>

          <div class="card-body">
<div class="row">
  <div class="col-6 border-right">
    <h2 class="card-price text-left"><span class="period">INR</span> ₹ {{plan.price}}
      <!-- <span class="period">/{{plan.billed_text}} </span> -->
    </h2>
    <small *ngIf="plan.price">(Billed {{plan.billed_text}}, Tax Excl.)</small>
  </div>
  <div class="col-6 ">
  <h2 class="card-price text-left">
    <span class="period">USD</span>
    $ {{plan.usd_amount}}
    <!-- <span class="period">/Month </span> -->
  </h2>
  <small *ngIf="plan.usd_amount">(Billed {{plan.billed_text}}, Tax Excl.)</small>
</div>

</div>



            <hr>
            <ul class="fa-ul" *ngIf="plan.features && plan.features.length">
              <li *ngFor="let feature of plan.features"><span class="fa-li"><fa-icon class="fa-icon-you" [icon]="faCheck"></fa-icon></span>{{feature}}</li>
            </ul>
              <ng-container *ngIf="loggedUser$ | async as loggedUser else toRegister">
                <a [routerLink]="plan.id" *ngIf="loggedUser?.role_url == 'teacher' && !plan.basic" class="btn btn-block text-uppercase"
                  [ngClass]="{'btn-primary': plan.price, 'btn-warning': !plan.price}">
                {{ plan.price > 0 ? 'Buy' : 'GET IT FREE'}}
                </a>
              </ng-container>
              <ng-template #toRegister>
                <a [routerLink]="['/teacher/register']" class="btn btn-block text-uppercase"
                  [ngClass]="{'btn-primary': plan.price, 'btn-warning': !plan.price}">
                {{ plan.price > 0 ? 'Buy' : 'GET IT FREE'}}
                </a>
              </ng-template>

          </div>
        </div>
      </div>
      <!-- Plus Tier -->

    </div>
  

</section>


</div>
