<form [formGroup]="addModuleFrm" (ngSubmit)="addModule()">
  <div class="form-group">
    <label for="name">Module Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="moduleNameHelp"
    placeholder="Module Name" formControlName="name"
    [ngClass]="{'is-invalid': (f.name.errors && f.name.errors.error) }" ngbAutofocus>
    <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
      {{f.name.errors.error}}
    </div>
    <small id="moduleNameHelp" class="form-text text-muted">make sure spelling correct</small>
  </div>

  <div class="form-group">
    <label for="pdf">PDF</label>
    <input type="file" class="form-control" id="pdf"
      (change)="onFileInput($event.target.files)" accept="application/pdf"
      [ngClass]="{'is-invalid': (f.pdf.errors && f.pdf.errors.error) }">
      <div *ngIf="f.pdf.errors && f.pdf.errors.error" class="invalid-feedback">
        {{f.pdf.errors.error}}
      </div>
  </div>

  <div class="form-group">
    <label for="video_link">Video Link</label>
    <input type="url" class="form-control" id="video_link" aria-describedby="videoLinkHelp"
    placeholder="Video Link" formControlName="video_link"
    [ngClass]="{'is-invalid': (f.video_link.errors && f.video_link.errors.error) }">
    <a href="javascript:{}" class="btn btn-primary" *ngIf="f.video_link.value" (click)="previewVideo()">Preview</a>
    <div *ngIf="f.video_link.errors && f.video_link.errors.error" class="invalid-feedback">
      {{f.video_link.errors.error}}
    </div>
    <small id="videoLinkHelp" class="form-text text-muted">put youtube / vimeo link</small>
  </div>

  <button class="btn btn-primary" type="submit">Save</button>

</form>
