
<form [formGroup]="addModuleFrm" (ngSubmit)="addModule()">
<div class="row">
  <div class="form-group col-md-6 col-lg-6">
    <label for="name">Module Name </label>
    <input type="text" class="form-control" id="name" aria-describedby="moduleNameHelp"
    placeholder="Module Name" formControlName="name"
    [ngClass]="{'is-invalid': (f.name.errors && f.name.errors.error) }" ngbAutofocus>
    <div *ngIf="f.name.errors && f.name.errors.error" class="invalid-feedback">
      {{f.name.errors.error}}
    </div>
    <small id="moduleNameHelp" class="form-text text-muted">make sure spelling correct</small>
  </div>

  <div class="form-group col-md-6 col-lg-6">
    <label class="d-block" for="pdf">External PDF Link</label>
      <input type="text" id="pdf" placeholder="External PDF Link" formControlName="pdf"
      [ngClass]="{'is-invalid': (f.pdf.errors && f.pdf.errors.error) }" class="form-control" />
    <!-- <input #pdfBrowse type="file" id="pdf"
      (change)="onFileInput($event.target.files)" accept="application/pdf"
      [ngClass]="{'is-invalid': (f.pdf.errors && f.pdf.errors.error) }"> -->
      <div *ngIf="f.pdf.errors && f.pdf.errors.error" class="invalid-feedback">
        {{f.pdf.errors.error}}
      </div>
      <p class="demo-url">Demo video
        <app-help-video url="https://www.youtube.com/watch?v=nVvN_Vz5TgU" title="How to add course"></app-help-video>
      </p>
      <a [href]="f.pdf.value" target="_blank" *ngIf="f.pdf.value">PDF</a>
  </div>

  <div class="form-group col-md-6 col-lg-6">
    <label for="pdf">Video From</label>
    <select class="form-control" formControlName="video_type">
      <option value="youtube">Youtube</option>
      <option value="vimeo">Vimeo</option>
      <option value="drive">Google Drive</option>
    </select>
  </div>

  <div class="col-md-6 col-lg-6 form-group">
    <label for="video_url">Video Link</label>
   <div class="d-flex ">
    <input  type="url" class="form-control" id="video_url" aria-describedby="videoLinkHelp"
    placeholder="Video Link" formControlName="video_url"
    [ngClass]="{'is-invalid': (f.video_url.errors && f.video_url.errors.error) }">

    <div class="input-group-append" *ngIf="f.video_type.value != 'drive'"><a href="javascript:{}" class="btn btn-primary ml-3" *ngIf="f.video_url.value" (click)="previewVideo()">Preview</a></div>
  </div>
  <p class="demo-url">Demo video
    <app-help-video url="https://www.youtube.com/watch?v=nVvN_Vz5TgU" title="How to add course"></app-help-video>
  </p>
    <div *ngIf="f.video_url.errors && f.video_url.errors.error" class="invalid-feedback">
      {{f.video_url.errors.error}}
    </div>
    <small id="videoLinkHelp" class="form-text text-muted">put youtube / vimeo link</small>
  </div>

  <div class="form-group col-md-6 col-lg-6">
    <label for="file1">External File 1 </label>
    <input type="text" class="form-control" id="file1" aria-describedby="moduleNameHelp"
    placeholder="External File 1" formControlName="file1"
    [ngClass]="{'is-invalid': (f.file1.errors && f.file1.errors.error) }" ngbAutofocus>
    <div *ngIf="f.file1.errors && f.file1.errors.error" class="invalid-feedback">
      {{f.file1.errors.error}}
    </div>
  </div>

  <div class="form-group col-md-6 col-lg-6">
    <label class="d-block" for="file2">External File 2</label>
      <input type="text" id="file2" placeholder="External File 2" formControlName="file2"
      [ngClass]="{'is-invalid': (f.file2.errors && f.file2.errors.error) }" class="form-control" />
      <div *ngIf="f.file2.errors && f.file2.errors.error" class="invalid-feedback">
        {{f.file2.errors.error}}
      </div>
      <p class="demo-url">Demo video
        <app-help-video url="https://www.youtube.com/watch?v=nVvN_Vz5TgU" title="How to add course"></app-help-video>
      </p>
  </div>

</div>
 <button class="btn btn-outline-secondary" type="button" (click)="cancelEdit()" *ngIf="f.id.value">Cancel</button>
  <button class="btn btn-primary float-right" type="submit">Save</button>
 <div class="clearfix"></div>

</form>
