<app-bread-crumbs [hide]="true"></app-bread-crumbs>
<section class="well-bg-header">
    <div class="container">
      <h3>About Us</h3>
    </div>
  </section>
  <section class="container" *ngIf="data$ | async as data" dir="auto">
    <app-google-language-selection></app-google-language-selection>

    <div class="row">
      <div class="col-lg-6 col-md-6" [innerHTML]="data.first">

      </div>
      <div class="col-lg-6 col-md-6">
        <img src="../../assets/online-tutorials.jpg" class="w-100 img-fluid">
      </div>
    </div>
    <h3 class="text-center text-uppercase text-primary mt-5 border-bottom mb-4 pb-4">
      {{data.abt_text}}
    </h3>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <img src="../../assets/aboutus.jpg" class="w-100 img-fluid">
      </div>
      <div class="col-lg-12 col-md-12"  [innerHTML]="data.second">

      </div>
      </div>





  <div class="card mb-3 mt-5">
    <div class="card-header text-primary text-uppercase">{{data.reg_office_addr}}</div>
    <div class="card-body">
        <p>MAYA TAX ACCOUNTING TRAINING CENTER.<br>
          PMC 17/664,<br>
          MATTAMANA BLDG.<br>
          PERUMBAVOOR <br>
          ERNAKULAM DIST,<br>
          KERALA<br>
          INDIA-683542
          </p>
          <p>For more information Read: </p>
          <p>"TERMS AND CONDITIONS", "PRIVACY POLICY", "CONTACT US" , “COOKIE POLICY” </p>
    </div>

</div>
</section>

