<div class="card list-box shadow-sm animate__animated animate__fadeIn">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div class="avathar-teacher" [style.background-image]="'url('+teacher.avatar+')'"></div>       
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <h5 class="text-left overflowtext">{{ teacher.fname }} {{ teacher.lname }}</h5>
        <div class="d-grid grd-col-2 text-left">
          <div>Tutor</div>
          <div *ngIf="teacher.subject && teacher.subject.length">Sub: <span *ngFor="let subject of teacher.subject; let last = last">{{ subject.name }} <i *ngIf="!last">, </i> </span></div>
          <div *ngIf="teacher.student_count"><fa-icon class="mr-2" [icon]="faUser"></fa-icon>{{teacher.student_count}}</div>
          <div *ngIf="teacher.teacher_info?.time"><fa-icon class="mr-2" [icon]="faClock"></fa-icon>{{ teacher.teacher_info.time }}</div>
          <div class="span2">Location: {{ teacher.city?.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid grd-col-2 text-left">
<div>
      <app-rating class="mt-2 d-block" [rating]="teacher.rating" [readonly]="true" *ngIf="teacher.rating"></app-rating>
    </div>
      <div>
        <a class="btn btn-primary float-right" [routerLink]="'/'+teacher.url">
          Visit Tutors Web Page
        </a>
      </div>
    </div>
  </div>
</div>
