<div class="card list-box">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <img src="assets/tumb.png" alt="avathar">
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <h5 class="text-left">Joan W. Smith</h5>
        <div class="d-grid grd-col-2 text-left">
          <div >Tutor</div>
          <div>Sub: Dance</div>
          <div><fa-icon class="mr-2" [icon]="faUser"></fa-icon>233</div>
          <div><fa-icon class="mr-2" [icon]="faClock"></fa-icon>Fill Time</div>
          <div class="span2">Location: Perumbavoor</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid grd-col-2">
      <div class="text-left pt-1">
        <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
        <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
        <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
        <fa-icon class="mr-2" [icon]="faStar"></fa-icon>
        <fa-icon class="mr-2" [icon]="faStarHalfAlt"></fa-icon>
      </div>
      <div>
        <button class="btn btn-primary float-right">
          Contact
        </button>
      </div>
    </div>
  </div>
</div>
