<app-modal>
  <div header class="text-primary ">
  Student Details
  </div>
  <div  body>

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="avathar" [style.background-image]="'url('+user.avatar+')'"> </div> 
      </div>
      <div class="col-md-5 col-lg-5">
        <h6>{{ user.fname}} {{ user.lname}}</h6>
        <p>
          {{user.address}} {{ user.city?.name }} - {{ user.pin }}
        </p>
        <ng-container *ngIf="user.role_url == 'teacher'">
          Courses: {{ user.course_count }}
        </ng-container>
<b class="text-uppercase">Contact Number</b>
       <p>{{ user.phone}}</p>
       <b class="text-uppercase">Email</b>
        <p>{{ user.email}}</p>
      </div>
<div class="col-md-3 col-lg-3">
  <a [href]="'tel://'+user.phone" class="btn btn-sm btn-primary">Call</a>
  <a class="d-none  btn btn-primary btn-sm" target="_blank" [href]="'https://web.whatsapp.com/send?phone='+user.phone">Message</a>
  <a class="btn btn-primary btn-sm ml-2" target="_blank" [href]="'https://api.whatsapp.com/send?phone='+user.phone">Message</a>
</div>
    </div>

        <table class="table mt-3">
          <thead>
            <tr>
              <th>
                Course
              </th>
              <th>
                Assigned
              </th>
              <th width="80">
                Status
              </th>
              <th width="80">
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(studentCourses$ | async) as studentCourses">
              <tr *ngFor="let studentCourse of studentCourses">
                <td>
                 <span [ngClass]="{'text-warning' : studentCourse.course.latest_course_approval_request.status != 1}" placement="top" [ngbTooltip]="(studentCourse.course.latest_course_approval_request.status != 1) ? ' Course is in '+studentCourse.course.latest_course_approval_request.status_text+' status  student can\'t launch this course': '' ">{{ studentCourse.course.name}}</span>
                </td>
                <td>
                  {{ studentCourse.created_at | date :'medium'}}
                </td>
                <td>
                  <a href="javascript:{}" placement="top" [ngbTooltip]="(!studentCourse.status) ? ' Course is in in-active status  so student can\'t launch this course': '' " (click)="toggleCourseStatus(studentCourse)"  [ngClass]="{'text-warning': !studentCourse.status}">{{ studentCourse.status_text }}</a>
                </td>
                <td>
                  <a href="javascript:{}" (click)="deleteStudentCourse(studentCourse)">Delete</a>
                </td>
              </tr>
              <tr *ngIf="!studentCourses || !studentCourses.length">
                <td colspan="4">No course found</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

  </div>
  <div  footer class="w-100">


    <button type="button" class="btn btn-outline-danger delete-user" (click)="deleteUser()">Delete</button>
    <button type="button" class="btn btn-outline-secondary float-right" (click)="modal.dismiss('cancel click')">Cancel</button>
  </div>
</app-modal>
