.w-100 {
    width: 100%;
}
.avathar {
    max-width: 200px;
    min-height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}