<div class="col-md-4 col-lg-4">
<div class="card">
  <img [src]="course.image" class="card-img-top" [alt]="course.name" [title]="course.name" *ngIf="course.image">
  <div class="card-body">
    <h5 class="card-title">{{course.name}}</h5>
    <p>{{ course.user.fname }} {{ course.user.lname }}</p>
    <p class="card-title" *ngIf="course.course_module_count">
        {{ (course.course_module_count > 1) ? course.course_module_count+' modules' : 'only '+course.course_module_count+' module' }}
    </p>
    <app-rating [rating]="course.user.rating" [readonly]="true"></app-rating>
    <p class="card-text">{{course.description}}</p>
    <div class="d-flex">

      <h6 class="mb-0 mt-2" *ngIf="course.price">Fees: {{ course.price }}</h6>
    <a href="javascript:{}" class="btn btn-primary btn-sm ml-auto"
    [routerLink]="['course', course.id]" routerLinkActive="router-link-active" >Detail</a>

  </div>

  </div>
</div>
</div>
