.card-body {
    h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}
.tutorname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-header {
    background-color: transparent;
    max-height: 190px ;
    overflow: hidden;
    min-height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.module-fix {
    height: 30px;
}
.font-15{
    font-size: 15px;
    padding-left: 5px;
}

.abs-pos{
    position: absolute;
    right: 20px;
}
