<div class="p-4 bg-white shadow-sm mt-3">
  <h6 class="mt-3 text-primary">Video</h6>
  <div class="mb-3">
  
    <app-player [videoSources]="video"></app-player>
  </div>
  <div *ngIf="pdfSrc">
  <h6 class="mt-3 text-primary"></h6>
  <div class="pdf-container" >
    <div class="righticon"><fa-icon [icon]="faFilePdf"></fa-icon></div>
    
    <!-- <pdf-viewer [src]="pdfSrc"
        [render-text]="true"
        [fit-to-page]="true"
        [original-size]="true"
        (error)="onPdfError($event)"
    ></pdf-viewer> -->
    <iframe frameborder="0" scrolling="no" class="frame-adjust" [src]="pdfSrc">
 </iframe>

  </div>
</div>
</div>
