<div class="card" *ngIf="(user$ | async) as user">
  <app-bread-crumbs [hide]="true"></app-bread-crumbs>
  <div class="card-body">
    <img [src]="user.avatar" class="avatar-img img-thumbnail" />
    {{ user.fname }} {{ user.lname }}
    <address>
      {{ user.address }}
    </address>
    {{ user.country.name }}
    {{ user.state.name }}
    {{ user.city.name }} - {{ user.pin }}

    <div>Mobile: {{ user.phone }}</div>
    <div>Email: {{ user.email }}</div>
    <a href="javascript:{}" routerLink="edit-profile" class="btn btn-outline-primary"><fa-icon [icon]="faEdit" ></fa-icon> Edit</a>
  </div>

  <ngb-rating [(rate)]="currentRate"  [readonly]="true" [max]="5">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" >&#9733;</span>
    </ng-template>
  </ngb-rating>

</div>
